/*
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Cinzel+Decorative|Eagle+Lake|Farsan|Fondamento|Pirata+One|Reenie+Beanie|Risque|Snowburst+One|Waiting+for+the+Sunrise');
*/

$color: red;

.avatar-title {
  font-family: 'Snowburst One', cursive;
  font-family: 'Pirata One', cursive;
  font-family: 'Cinzel Decorative', cursive;
  font-family: 'Fondamento', cursive;

  font-size: 8pt;
  fill: $color;
}

.storyGraph {
  max-height: 100vh;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin: auto;

  .fixed & {
    position: fixed;
    top: 0;
  }

  .scroll-below & {
    position: absolute;
    top: auto;
    bottom: 0;
  }
}

/*

THIS TRANSITION OVERWRITES D3 TRANSITION!
g,
path,
circle,
rect,
text,
image {
  transition: all .2s ease-in-out
}
*/
