body {
  background: white;
  color: black;
  transition: background ease-in-out .5s, color ease-in-out .5s;

  &.story\.textil\.fates {
    background: black;
    color: white;
  }
}

a {
  color: #dd0f00 !important;
  text-decoration: none;
}

.layout {

}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  padding-bottom: 1em;
  overflow-y: scroll;

  .menu {
    padding: 0;
    margin: 0;
  }

  .item {
    list-style: none;
  }

  .is-current {
    background: rgba(128,128,128,.5);
  }

  .link {
    display: block;
    padding: 5px 10px;
  }
}

.content {
  margin-left: 250px;
  min-width: 550px;
  max-width: 1150px;
  padding: 0 4em;

  .padded {
    padding: 2em 0;
  }
}

.storyGraph {
  max-height: 100vh;
}
