$red: #dd0f00;
$grey: #eee;

body {
  background: white;
  color: black;
  transition: background ease-in-out .5s, color ease-in-out .5s;

  &.story\.textil\.fates,
  &.symbol\.color\.black {
    background: black;
    color: white;
  }

  &.symbol\.color\.red {
    background: $red;
    color: white;

    a {
      color: white !important;
    }
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 1em !important;
}

a {
  color: $red !important;
  text-decoration: none;
  transition: color ease-in-out .5s;

  &:focus {
    outline: none;
  }
}

blockquote {
  display: block;
  position: relative;
  padding: 1em 0;
  margin: 1em 60px;
  border-top: 1px dashed #bbb;
  border-bottom: 1px dashed #bbb;
  font-style: italic;

  &::before,
  &::after {
    position: absolute;
    top: -0.25em;
    left: 0;
    content: '“';
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    color: #ddd;
    text-indent: -60px;
  }

  &::after {
    content: '”';
    top: auto;
    left: auto;
    right: -50px;
    bottom: -0.65em;
    text-indent: 0;
  }

  cite {
    display: block;
    text-align: right;
    color: #bbb;
  }
}

.clearfix,
.ui.divider {
  clear: both;
}

.layout {

}

.content {
  .padded {
    padding: 2em 0;
  }
}

.spacer {
  height: 100vh;
}

.scrollable {
  position: relative;
}

.story {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.story-desc {
  background: rgba(255,255,255,.75);
  padding: 1em;
  margin-bottom: 50vh;
  border-radius: 5px;
}

#story\.scene\.sequel17 .story-desc {
  margin-bottom: 100vh;
}

.masonry {
  // Prevent vertical gaps
  line-height: 0;
  column-count: 3;
  column-gap: 10px;

  img {
    // Just in case there are inline attributes
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

